<% if @quote.errors.any? %>
 <div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">x</span></button>
      <ul>
      <% @quote.errors.full_messages.each do |msg| %>
        <%= content_tag :li, msg, :id => "error_#{msg}" if msg.is_a?(String) %>
      <% end %>
    </ul>
 </div>
 <% end %>
<%= form_for(@quote) do |f| %>

  <%= f.label :content, :class => "sr-only" %><br>
  <%= f.text_area :content, :class => "form-control", :placeholder => "Quote" %>
    <%= f.label :book, :class => "sr-only"  %><br>
  <%= f.text_field :book, :class => "form-control", :placeholder => "Book"  %><br />
  <%= f.label :author, :class => "sr-only"  %><br>
  <%= f.text_field :author, :class => "form-control", :placeholder => "Author"  %></br>


  <%= f.submit "Done", :class => "btn btn-warning" %>
<% end %> <br />
