<main>
  <section class="container">

      <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 col-centered">
        <h1>Quotes and stuff</h1>
        <%= button_to 'New Quote', new_quote_path, :method => :get, :class => "btn btn-primary" %> <br />
     
          <% @quotes.each do |quote| %>
           <article class="quote-box">
            <p class="form-control-static"><%= quote.content %></p>
            <p class="form-control-static"><b class="bold-tag">Book: </b><%= quote.book %></p>
            <p class="form-control-static"><b class="bold-tag">Author: </b><%= quote.author %></p>
            <p class="form-control-static">Created at: <%= created_at_format(quote) %></p>
            <!--    <%= button_to  'Show', quote_path(quote), :method => :get, :class => "btn btn-default btn-sm"  %> -->
            <%= button_to  'Edit', edit_quote_path(quote), :method => :get, :class => "btn btn-default btn-sm col-xs-offset-1 col-xs-5 col-sm-offset-1 col-sm-5 col-md-offset-2 col-md-4 col-lg-offset-2 col-lg-4", :id => "quote-button"  %>
            <%= button_to 'Delete', quote, method: :delete, data: { confirm: 'Are you sure?' },  :class => "btn btn-default btn-sm col-xs-5 col-sm-5 col-md-4  col-lg-4 quote-button " %> <br /> <br />   
           </article> 
          <% end %>
      </div>
      

  </section>
</main>
         
          