<main>
  <section class="container">
    <div class="col-xs-10 col-sm-6 col-md-4 col-lg-3 col-centered">
		<h1>Write mode</h1>

		<%= render 'form' %>

		<%= button_to 'Back', quotes_path, :class => "btn btn-default", method: :get %>

    </div>
  </section>
</main>