<main>
  <section class="container-show-quotes">
    <div class="col-xs-10 col-sm-6 col-md-4 col-lg-3 col-centered">
    <h1>Read mode</h1>
    <%= form_for(@quote, html: { class: "form-horizontal" }) do |f| %>
	  	  <div class="form-group">
			<%= f.label :content, "Quote: ", :class => "col-sm-4 control-label" %>
			 <div class="col-sm-8 ">
			  <p class="form-control-static"><%= @quote.content %></p><br />
			</div>
	  	  </div>
		  <div class="form-group">
		    <%= f.label :book, "Book: ", :class => "col-sm-4 control-label"  %>
		     <div class="col-sm-8 col-text-left">
			  <p class="form-control-static"><%= @quote.book %></p><br />
			</div>
		  </div>
		  <div class="form-group">
		    <%= f.label :author, "Author: ", :class => "col-sm-4 control-label" %>
		    <div class="col-sm-8 col-text-left">
			  <p class="form-control-static"><%= @quote.author %></p><br />
			</div>
		  </div>
		 <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" id="show-quote-buttons">
		<%= button_to 'Edit', edit_quote_path(@quote), :class => "btn btn-warning", method: :get %><br />
		<%= button_to 'Back to list', quotes_path, :class => "btn btn-default", method: :get %></div><br /><br />
	<% end %>
    </div>
  </section>
</main>