
<div class="center-block">
  <div class="col-xs-offset-5 col-xs-2">
    <h2>Sign up</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name),  :html => { :class => 'form-horizontal' } ) do |f| %>
      <div class="form-group">
       <%= devise_error_messages! %>
      </div>
      <div class="form-group">
        <%= f.label :email, :class => "control-label"  %><br />
        <%= f.email_field :email, autofocus: true, :class => "form-control", :id => "inputEmail3"  %>
      </div>
      <div class="form-group">
        <%= f.label :password, :class => "control-label" %> <% if @validatable %><i>(<%= @minimum_password_length %> characters minimum)</i><% end %><br />
      </div>
      <div class="form-group">
        <%= f.password_field :password, autocomplete: "off", :class => "form-control", :id => "inputPassword3"  %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation, :class => "control-label" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control", :id => "inputPassword3"  %>
      </div>
      <div class="form-group">
        <%= f.submit "Sign up" %>
      </div>
    <% end %>
    <div class="form-group">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>