<div class="center-block">
  <div class="col-xs-offset-5 col-xs-2">
    <div class="form-group">
    <h2>Forgot your password?</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

    <div><%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %></div>

    <div><%= f.submit "Send me reset password instructions" %></div>
    <% end %>
    <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
