<div class="center-block">
  <div class="col-xs-offset-5 col-xs-2">
  <h2>Log in</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name),  :html => { :class => 'form-horizontal' } ) do |f| %>
    <div class="form-group">
      <%= f.label :email, :class => "control-label" %><br />
      <%= f.email_field :email, autofocus: true, :class => "form-control", :id => "inputEmail3" %>
    </div>
    <div class="form-group">
      <%= f.label :password, :class => "control-label" %><br />
      <%= f.password_field :password, autocomplete: "off", :class => "form-control", :id => "inputPassword3" %>
    </div>
    <div class="form-group">
      <% if devise_mapping.rememberable? -%>
        <div class="checkbox">
          <%= f.check_box :remember_me %> <%= f.label :remember_me %>
        </div>
      <% end -%>
    </div>
    <div class="form-group">
      <%= f.submit "Log in", :class => "btn btn-default" %>
    </div>
  <% end %>
  <div class="form-group">
    <%= render "users/shared/links" %>
  </div>
  </div>
</div>

