/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
*= require_tree .
*= require_self
 */
//= depend_on_asset "low-contrast-linen.png"


html, body
{
    height: 100%;
    padding: 0;
    margin: 0;
}

body
{
  background-color: #eeba30;
  background-image: url('<%= asset_path("low-contrast-linen.png") %> ');
  background-repeat: repeat;

}


.mainnav{
  float: right;
  margin-right: 5px;
}

.mainnav li{
  float: left;
  margin-left: 5px;

}



h1{
   margin-bottom: 50px;
   color: #ae0001;
   font-family: 'Molengo', Georgia, Times, serif;
   font-size: 56px;
   line-height: 80px;
}


 
p {
    font-family: 'Lekton', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 25px;
}


section.container{
  width: 80%;
  text-align:center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  margin-top: 50px;
  clear: right;

}



section.container-show-quotes{
  width: 80%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  margin-top: 50px;
  clear: right;
}



.btn-default
{
  background-color: #000000;
  color: #FFFFFF;
  border-color: #000000;;
}


.btn-primary, .btn-danger, .btn-warning
{
  background-color: #740001;
  color: #FFFFFF;
  border-color: #740001;
}

.btn-default:hover, .btn-primary:hover
{
  background-color: #FFFFFF;
  color: #000000;
  border-color: #FFFFFF;
}


.quote-box{
  
  margin-top: 50px;
  margin-bottom: 50px;
  border: 5px inset  #ae0001;
  padding: 5px 5px 5px 5px;
  font-weight: bold;
  text-align: left;

}

#show-quote-buttons{
  text-align: center;
  clear: both;
  width: 80%;
  text-align:center;
  margin-left: auto;
  margin-right: auto;
}

b.bold-tag{
  color: #740001;
}

#quote-button{
  margin-right: 5px;
}


.col-centered{
  float: none; 
  clear: both; 
  margin-left: auto; 
  margin-right: auto;
  margin-bottom: 50px;
}

.alert{
  text-align: left;

 }


.recaptcha
{
  margin-top: 15px;
  margin-bottom: 15px;

}

.footer
{

  background-color: #d3a625;
  opacity: 0.8;
  height: 25px;
}

.muted-credit{
  color: #000000;
  font-size: 14px;
  margin-left:15px;
}



.navbar-inverse .navbar-brand {
  color: #FFFFFF;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #ae0001;
  background-color: transparent;
}
.navbar-inverse .navbar-text {
  color: #FFFFFF;
}
.navbar-inverse .navbar-nav > li > a {
  color: #FFFFFF;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #ae0001;
  background-color: transparent;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #ae0001;
  background-color: #080808;
}
.navbar-inverse .navbar-nav > .disabled > a,
.navbar-inverse .navbar-nav > .disabled > a:hover,
.navbar-inverse .navbar-nav > .disabled > a:focus {
  color: #444;
  background-color: transparent;
}

