<!DOCTYPE html>
<html>
<head>
  <title>Bookself</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Where your books meet social networking.">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">
  <link href="http://fonts.googleapis.com/css?family=Lekton" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Molengo" rel="stylesheet" type="text/css">

</head>
<body>
  <nav class ="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "Bookself", quotes_path, :class => "navbar-brand" %>
        </div>
        <div id="navbar" class="navbar-collapse collapse mainnav">
          <ul class="nav navbar-nav">
           <!-- <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li> -->

            <% if user_signed_in? %>
            <li><p class="navbar-text">Logged in as <strong><%= current_user.email %></strong>.</p></li>
            <% if user_signed_in? and current_user.provider.blank? %>
              <%= render :partial => "/layouts/active_link", :locals => {:path =>  edit_user_registration_path, :link_text => "Edit profile"} %>
            <% end %>
            <li> <%= link_to "Logout", destroy_user_session_path, method: :delete  %></li>
            <%if user_signed_in? and not current_user.provider.blank?  %>
              <li><%= link_to "Cancel my account",  {:controller => '/users/registrations',
              :action => 'destroy', :email => current_user.email}, data: { confirm: "Are you sure you want to cancel your account? All your data will be permanently destroyed." }, method: :delete %> </li>
            <% end %>
          <% else %>
            <%= render :partial => "/layouts/active_link", :locals => {:path =>  new_user_session_path, :link_text => "Log in"} %>
            <%= render :partial => "/layouts/active_link", :locals => {:path =>  new_user_registration_path, :link_text => "Sign up"} %>

          <% end %>

        </ul>
      </div>
    </div>
  </nav>


  <% if notice %>
    <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
      <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">x</span></button>
        <%= notice %>
      </div>
    </div>
  <% end %>
  <% if alert %>
    <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
      <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">x</span></button>
        <%= alert %>
      </div>
    </div>
  <% end %>

  <%= yield %>
  <footer>
   <div class="footer navbar-fixed-bottom">
    <p class="muted-credit">Copyright © 2015 Timea</p>
  </div>
  </footer>
</body>
</html>