<main>
  <section class="container">
    <div class="col-xs-10 col-sm-6 col-md-4 col-lg-3 col-centered">
      <p><% if not devise_error_messages!.empty? %>
        <div class="alert alert-danger" role="alert">
          <a class="panel-close close" data-dismiss="alert">×</a> 
          <%= devise_error_messages! %>
        </div>
      <% end %></p>
      <h1>Personal info</h1>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

        <%= f.label :email,  :class => "sr-only" %><br />
        <%= f.email_field :email, :class => "form-control", :id => "inputEmail", :placeholder => "Email address" %><br />

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          Currently waiting confirmation for: <%= resource.unconfirmed_email %><br />
        <% end %>

        <%= f.label :password, :class => "sr-only" %> <i>Leave blank if you don't want to change it.</i><br />
        <%= f.password_field :password, autocomplete: "off", :class => "form-control", :id => "inputPassword", :placeholder => "Password" %>

        <%= f.label :password_confirmation, :class => "sr-only" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control", :id => "inputPassword", :placeholder => "Password confirmation" %><br />

        <%= f.label :current_password, :class => "sr-only" %> <i>Enter your current password to confirm the changes.</i><br />
        <%= f.password_field :current_password, autocomplete: "off", :class => "form-control", :id => "inputPassword", :placeholder => "Current password" %><br />

        <%= f.submit "Update", :class => "btn btn-warning" %><br />

      <% end %> <br />


      <h5>Unhappy?</h5> <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure you want to cancel your account? All your data will be permanently destroyed." }, method: :delete, :class => "btn btn-danger" %> <br />

      <h5><%= button_to "Back", :quotes, :class => "btn btn-default", method: :get %></h5>
    </div>
  </section>
</main>